*, *:before, *:after {
  box-sizing: border-box;
}

html, body {
  float: left;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100%;
}

body:before {
  content: '';
  position: fixed;
  top: 50%;
  height: 2px;
  left: 0;
  background-color: lime;
  width: 100%;
  margin-top: -1px;
  z-index: 100;
}

body:after {
  content: '';
  position: fixed;
  top: 0;
  width: 2px;
  height: 100vh;
  left: 50%;
  background-color: lime;
  margin-left: -1px;
  z-index: 100;
}

#container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.fake-thing {
  border: 10px solid rebeccapurple;
  font-size: 100px;
  height: 300px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  z-index: -100;
}

.fake-thing:before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 50%;
  background: rgba(0, 0, 0, .25);
  width: 100%;
}

.wr-element {
  border: 10px solid red;
  box-sizing: border-box;
}

.wr-element > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.wr-thing:before {
  position: absolute;
  content: '';
  top: 0;
  height: 50%;
  background: rgba(0, 0, 0, .5);
  width: 100%;
  left: 0;
}

#stats {
  position: fixed;
  background: rgba(0, 0, 0, .75);
  width: 150px;
  height: auto;
  bottom: 20px;
  right: 20px;
  color: cyan;
  padding: 10px;
  font-family: monospace;
  line-height: 14px;
  font-size: 10px;
}
